<footer class="site-footer">
  <div class="logo-wrap">
    <img viewBox="0 0 114 26.6"  class="logo" src="../assets/logo.svg" alt="Logo">
  </div>

    <p>The night is white. Man is asleep. I hunt alone.</p>
    <p>-Alfred W. Rees</p>
  </footer>
  