<header>
  <div id="toggle" class="toggle">
    <a class="select">
      <img class="select" src="/assets/menu.svg" alt="Menu">
    </a>
  </div>
  <div id="menu" class="menu">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about/">About</a></li>
        <li><a href="/finance/">Finance Officer</a></li>
        <li><a href="/references/">References</a></li>
        <li><a href="/contact/">Contact Us</a></li>
    </ul>
  </div>
</header>

<script src="/scripts/header.js"></script>